<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<title>car-crm系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
    href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
          href="/css/footer.css"/>
    <!--注意引入顺序,先引jquery,再引bootstrap,也要用绝对路径,大坑!!-->
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
      <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/3.3.7/js/transition.js}"></script>

      <script th:src="@{/webjars/bootstrap/3.3.7/js/collapse.js}"></script>
</head>
<body>
<!--页面布局,分为三部分:顶部-中部-底部-->
<div th:fragment="navbar"  class="wrapper"  role="navigation">
<div th:replace="fragments/header :: header">Header</div>
<div layout:fragment="content" id="content" ></div>
<div th:replace="fragments/footer :: footer">footer</div>
</div>
</body>

</html>