<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="welcome">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>


</head>

<body>
<section layout:fragment="content">
    <div>
    <h1>Product list</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${consumers}">
            <td th:text="${prod.name}">Onions</td>
            <td th:text="${prod.phone}">2.41</td>
        </tr>
        </tbody>
    </table>

    <p>
        <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
    </div>
</section>
</body>

</html>