<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="welcome">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>


</head>

<body>
<section layout:fragment="content">
    <div>
    <h2>用户信息列表</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>客户id</th>
            <th>客户姓名</th>
            <th>地址</th>
            <th>电话</th>
            <th>车辆类型</th>
            <th>车牌号</th>
            <th>车架号</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consumer : ${consumers}">
            <td th:text="${consumer.id}"></td>
            <td th:text="${consumer.name}"></td>
            <td th:text="${consumer.address}"></td>
            <td th:text="${consumer.phone}"></td>
            <td th:text="${consumer.carType}"></td>
            <td th:text="${consumer.carLicenseNum}"></td>
            <td th:text="${consumer.carFrameNum}"></td>
            <td th:text="${consumer.content}"></td>
        </tr>
        </tbody>
    </table>

    <p>
        <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
    </div>
</section>
</body>

</html>